body{
  margin: 0 auto;
  padding: 0%;
  max-width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 19, 36);
}


  .post{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cats{
    width: 50vh;
    height: auto;

  }